// SCSS Variables
@mixin postVariables {
  grid-column-start: 2;
  grid-column-end: 3;
  width: 95%;
  height: 250px;
  background-color: white;
  border: 1px solid black;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 5px 3px 10px grey;
}

@mixin imageBorder {
  border: 3px solid black;
}

@mixin aboutTimeline {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 5px;
  // border: 2px solid black;
  max-width: 850px;

}

// .height {
//   height: 100%;
// }

* {
  box-sizing: border-box;
}


// #main-nav {
//   display: flex;
//   flex-direction: row;
//   width: 100%;
//   height: 75px;

//   // Screen min width - phone
//   min-width: 400px;
//   background-color: lightblue;

//   button {
//     width: 100%;
//     height: 100%;
//   }
// }

// .stickyNav {
//   position: fixed;
//   top: 0;
//   width: 100%;

// }

// .projects-header {
//   align-items: center;
//   font-size: 2em;
// }

#socials-nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;

  button {
    width: 50px;
    height: 50px;
    background-color: brown;
    border: 3px solid black;
  }

}
// Home-Page

// article {
//   display: grid;
//   grid-template-columns: 1fr 3fr;
//   grid-template-rows: 200px 1fr 50px;
//   grid-template-areas:
//     "photo main"
//     "nav main"
//     "socials main";
//   width: 100%;
//   height: 100vh;

//   .home-page {
//     grid-area: main;
//     background-color: blue;
//   }

//   figure {
//     grid-area: photo;
//     background-color: lightskyblue;
//     margin: 0;
//   }
//   nav {
//     display: flex;
//   }
// }

/* Flexbox css */

#features {
  grid-area: nav;
  flex-direction: column;
  background-color: coral;
}

#socials {
  grid-area: socials;
  flex-direction: row;
  background-color: maroon;
}
// NEW CSS - REPLACE OLD



.topNav {
  overflow: hidden;
  background-color: black;

  a {
      float: left;
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
  }

  a:hover {
      background-color: green;
      color: black;
  }

  a.active {
      background-color: lightblue;
      color: black;
  }

  .icon {
      display: none;
  }
}

@media screen and (max-width: 600px) {
  .topNav a:not(:first-child) {
      display: none;
  }
  .topNav a.icon {
    float: right;
    display: block;
  }
}


@media screen and (max-width: 600px) {
  .topNav.responsive {
      position: relative;
  }
  .topNav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
  }
  .topNav.responsive a {
      float: none;
      display: block;
      text-align: left;
  }
}

body {
  margin: 0;
}

.socialsNav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 35%;

  button {
      width: 50px;
      height: 50px;
      background-color: brown;
      border: 3px solid black;

  }
}

.layout {
  background-color: seashell;
  z-index: -1;
  display: grid;
  grid-template-columns: 75px 1fr;
  justify-items: center;
}

.projectPost {
  @include postVariables();
  display: flex;
  flex-direction: row;
  max-width: 600px;
}

.projectImage {
  @include imageBorder();
  height: 90%;
  width: 50%;
  align-self: center;
  margin-left: 5px;
  }

.projectInfo {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 5px;
}

.projectDescription {
  margin-top: 10px;
  margin-bottom: 5px;

}

// Ecompassing project skills - list
.projectSkills {
  display: flex;
  text-align: left;
  justify-content: left center;
  margin-top: 5px;
  border-top: 2px solid black;
}

// Blog Post Container
.blogPost {
  @include postVariables();
  height: 400px;
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

// Blog post title
.blogTitle {
  align-self: center;
}

.blogImage {
  @include imageBorder();
  height: 45%;
  width: 90%;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 400px;
  align-self: center;
}

.blogPublish {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.blogArticle {
  width: 90%;
  height: 90%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  align-self: center;
  margin-bottom: 5px;
  overflow: hidden;

}

.form {
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactMessage {
  height: 200px;
  width: 70%;
}

// Circular style profile image - About Me
.profileImage {
  border-radius: 50%;
  overflow: hidden;
  display: block;
  grid-column-start: 2;
  grid-column-end: 3;
  align-content: center;
}

// Current description About Me - Below profile image
.topDescription {
  grid-column-start: 2;
  grid-column-end: 3;
  margin: 5px;
  width: 100%;
  display: flex;
  justify-content: center;

  p {
    grid-column-start: 2;
    grid-column-end: 3;
    width: 100%;
    margin-right: 5px;
    max-width: 600px;
  }
}

// Polaroid Container - holds image and date text
.polaroid {
  width: 250px;
  height: 250px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  box-shadow: 5px 3px 5px grey;
}

// Image within polaroid
.polaroidImage{
  width: 80%;
  height: 70%;
  object-fit: contain;
  align-self: center;
  margin-top: 10px;
  background-color: black;
}

// Date text for polaroid
.polaroidDate {
  font-family: 'Dancing Script', cursive;
  align-self: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 90%;
  height: 100%;
  margin-bottom: 3px;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 3px;
  text-align: center;
}

// Container for timeline elements
.aboutTimelineLeft {
  @include aboutTimeline();
}
.aboutTimelineRight {
  @include aboutTimeline();
}

@media screen and (min-width: 850px) {

  .aboutTimelineLeft {
    flex-direction: row;

    p {
      margin-left: 10%;
      margin-right: 10%;
      order: 2;
    }
  }
  .polaroid {
    min-width: 250px;
    order: 1;
  }

  .aboutTimelineRight {
    flex-direction: row;

    p {
      margin-left: 10%;
      margin-right: 10%;
      order: 1;
    }
  }
  .polaroid {
    min-width: 250px;
    order: 2;
  }

}

// Homepage Layout
.homeLayout {
  display: grid;
  grid-template-columns: 1fr;
  background-color: seashell;
}

// Homepage profile image
.profileImageHome {
  border-radius: 50%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.socialsNavHome {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0%;
  margin-left: auto;
  margin-right: auto;
}


