* {
  box-sizing: border-box;
}

#socials-nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
}
#socials-nav button {
  width: 50px;
  height: 50px;
  background-color: brown;
  border: 3px solid black;
}

/* Flexbox css */
#features {
  grid-area: nav;
  flex-direction: column;
  background-color: coral;
}

#socials {
  grid-area: socials;
  flex-direction: row;
  background-color: maroon;
}

.topNav {
  overflow: hidden;
  background-color: black;
}
.topNav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topNav a:hover {
  background-color: green;
  color: black;
}
.topNav a.active {
  background-color: lightblue;
  color: black;
}
.topNav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topNav a:not(:first-child) {
    display: none;
  }

  .topNav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .topNav.responsive {
    position: relative;
  }

  .topNav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topNav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
body {
  margin: 0;
}

.socialsNav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 35%;
}
.socialsNav button {
  width: 50px;
  height: 50px;
  background-color: brown;
  border: 3px solid black;
}

.layout {
  background-color: seashell;
  z-index: -1;
  display: grid;
  grid-template-columns: 75px 1fr;
  justify-items: center;
}

.projectPost {
  grid-column-start: 2;
  grid-column-end: 3;
  width: 95%;
  height: 250px;
  background-color: white;
  border: 1px solid black;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 5px 3px 10px grey;
  display: flex;
  flex-direction: row;
  max-width: 600px;
}

.projectImage {
  border: 3px solid black;
  height: 90%;
  width: 50%;
  align-self: center;
  margin-left: 5px;
}

.projectInfo {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 5px;
}

.projectDescription {
  margin-top: 10px;
  margin-bottom: 5px;
}

.projectSkills {
  display: flex;
  text-align: left;
  justify-content: left center;
  margin-top: 5px;
  border-top: 2px solid black;
}

.blogPost {
  grid-column-start: 2;
  grid-column-end: 3;
  width: 95%;
  height: 250px;
  background-color: white;
  border: 1px solid black;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 5px 3px 10px grey;
  height: 400px;
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.blogTitle {
  align-self: center;
}

.blogImage {
  border: 3px solid black;
  height: 45%;
  width: 90%;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 400px;
  align-self: center;
}

.blogPublish {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.blogArticle {
  width: 90%;
  height: 90%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  align-self: center;
  margin-bottom: 5px;
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
